CREATE DATABASE [Digital]
GO
USE [Digital]
GO
/****** Object:  Table [dbo].[digital]    Script Date: 4/21/2020 9:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digital](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[image] [nvarchar](50) NULL,
	[notes] [nvarchar](max) NULL,
	[author] [nvarchar](50) NULL,
	[date] [datetime] NULL,
	[short notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_digital] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[digital] ON 

SET IDENTITY_INSERT [dbo].[digital] OFF
